* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #134074;
    color: #EEF4ED;
    font-family: 'Verdana', 'Century Gothic', Helvetica, Arial, sans-serif;
}

.battlecontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: auto 1fr auto / minmax(200px, 20vw) 1fr auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    grid-column: 1 / 4;

    background-color: #13315C;
}

.playercontainer {
    display: grid;
    grid-gap: 10px;

    padding: 8px;

    background-color: #0B2545;
    border-radius: 5px;
}

.playercontainer--current {
    border: 2px solid #FFFFFF;
    animation: pulse 2s infinite;
}

.playercontainer--damaged {
    animation: pulse--damaged 1.5s infinite;
}

.playercontainer--current.playercontainer--damaged {
    border: 2px solid rgb(225, 100, 100);
    animation: pulse--current--damaged 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(225, 225, 225, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225, 225, 225, 0);
	}
}

@keyframes pulse--damaged {
	0% {
		box-shadow: 0 0 0 0 rgba(225, 0, 0, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgba(225, 0, 0, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(225, 0, 0, 0);
	}
}

@keyframes pulse--current--damaged {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(225, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225, 0, 0, 0);
	}
}

.playernamecontainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.name {
    font-size: 1.5em;
    font-weight: 500;
}

.hitpointbar {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.hitpoints {
    background-color: chartreuse;
    border-radius: 5px;
}

.messagecontainer {
    background-color: #0B2545;
    padding:10px;
    grid-column: 1 /2;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.messagecontainer::-webkit-scrollbar {
    display: none;
}

main {
    grid-column: 2 / 4;
}

.controls {
    width: 100%;
    height: 100%;
    padding: 10px;
}
  
footer {
    background-color: #13315C;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}